﻿@{
    ViewBag.Title = "Avaleht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peamenüü</h2>
<h4>Tere, @User.Identity.Name!</h4>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Vaata kõiki e-raamatuid", "Index", "EBook")</li>
    <li class="list-group-item">@Html.ActionLink("Vaata kõiki allalaadimise linke", "Index", "Link")</li>
</ul>