﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group {
    max-width: 280px;
}

.link-form {
    max-width: 800px;
}

.form-control.numeric {
    width: 80px !important;
}

.datepicker {
    max-width: 200px;
}

.select2-selection {
    height: 34px;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: initial;
    padding-left: initial;
}
