﻿@model EBooks.Models.Catalog.LinkModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.HiddenFor(x => x.EmployeeId)

<div class="form-group">
    @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-9">
        <select class="select2 form-control" id="ClientId" name="ClientId" data-autocomplete="true">
            <option value=""></option>
            @foreach (var client in Model.AvailableClients)
            {
                <option value="@client.Value" @(Model.ClientId.ToString() == client.Value ? "selected" : "")>@client.Text</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EBookId, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-9">
        <select class="select2 form-control" id="EBookId" name="EBookId" data-autocomplete="true">
            <option value=""></option>
            @foreach (var book in Model.AvailableEBooks)
            {
                <option value="@book.Value" @(Model.EBookId.ToString() == book.Value ? "selected" : "")>@book.Text</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.EBookId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MaxUsages, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.MaxUsages, new { htmlAttributes = new { @class = "form-control numeric" } })
        @Html.ValidationMessageFor(model => model.MaxUsages, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ValidUntil, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-9">
        <div class="input-group datepicker">
            @Html.TextBoxFor(x => x.ValidUntil, new { @class = "form-control", placeholder = "pp.kk.aaaa tt:mm" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.ValidUntil, "", new { @class = "text-danger" })
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        
        $("input[data-val-date]").each(function () {

            $(this).removeAttr("data-val-date");
        });

        $(".datepicker").datetimepicker({
            locale: "et"
        });

        function ConverToIso(value) {
            var selectedDate = moment(value, "DD.MM.YYYY HH:mm");
            return selectedDate.toISOString().slice(0, -1);
        }

        $(".select2").select2({
            allowClear: true,
            placeholder: "vali nimekirjast",
            theme: "bootstrap"
        });

    });

</script>