﻿@model IEnumerable<EBooks.Models.Catalog.LinkUsageListModel>


@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAgent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAgent)
                </td>
            </tr>
        }

    </table>

}
else
{
    <div class="alert alert-warning text-center" role="alert">Allaladimise ei leitud!</div>
}