﻿@model EBooks.Models.Catalog.LinkModel

@{
    ViewBag.Title = "Lingi registreerimine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreeri lingi</h2>


@using (Html.BeginForm("Create", "Link", null, FormMethod.Post, new { @class = "form-group" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal link-form">
        <hr />
       
        @Html.Partial("_CreateOrUpdate", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lisa" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@if (System.Web.HttpContext.Current.Request.QueryString["eBookId"] != null)
{
    <p>
        @Html.ActionLink("Tagasi", "Index", "EBook")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Tagasi", "Index")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


