﻿@model EBooks.Models.Catalog.LinkModel

@{
    ViewBag.Title = "Lingi registreerimine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Muuda lingi</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal link-form">
        <hr />
        
        @if (!Model.SuccessMessage.IsEmpty())
        {
            <div class="alert alert-success text-center" role="alert">@Model.SuccessMessage</div>
        }

        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", @readonly = "readonly" } )
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>
       
        @Html.Partial("_CreateOrUpdate", Model)

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="input-group datepicker">
                    @Html.TextBoxFor(x => x.CreatedOn, new { @class = "form-control", placeholder = "pp.kk.aaaa tt:mm:ss", @readonly = "readonly" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Muuda" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Partial("_LinkUsages", Model.LinkUsages)

<div>
    @Html.ActionLink("Tagasi", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
