﻿@model EBooks.Models.Catalog.LinkQueryModel

@{
    ViewBag.Title = "Linkide haldus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fluid-container">

    <div class="page-header">
        <h1>Linkide haldus</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Link", null, FormMethod.Post, new { @class = "form-group" }))
            {
                <fieldset class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SearchByEmail)
                            @Html.TextBoxFor(x => x.SearchByEmail, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(x => x.SearchByEmail)
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SearchByEBookId)
                            @Html.DropDownListFor(x => x.SearchByEBookId, Model.AvailableEBooks, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SearchByEBookId)
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SelectedActiveId)
                            @Html.DropDownListFor(x => x.SelectedActiveId, Model.AvailableActiveTypes, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SelectedActiveId)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <button type="submit" id="search" class="btn btn-default">Otsi</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

<div class="form-group text-right">
    <a class="btn btn-success" href="@Url.Action("Create", "Link")">Registreeri lingi</a>
</div>

@if (Model.Links.Any())
{
    <table class="table">
        <tr>
            @*<th>
                ID
            </th>*@
            <th>
                E-raamat
            </th>
            <th>
                E-raamatu kood
            </th>
            <th>
                Kliendi e-post
            </th>
            <th>
                Aktiivne
            </th>
            <th>
                Saadaval
            </th>
            <th>
                Kehtiv kuni
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model.Links)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.EBookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EBookCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientEmail)
                </td>
                <td>
                    @(item.IsActive ? "Jah" : "Ei")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeftUsages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidUntil)
                </td>
                <td>
                    @Html.ActionLink("Vaata / Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Eemalda", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-warning text-center" role="alert">Linke ei leitud!</div>
}

<p>
    @Html.ActionLink("Tagasi", "Index", "Account")
</p>
