﻿@model EBooks.Models.Catalog.EBookQueryModel

@{
    ViewBag.Title = "E-raamatute haldus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="fluid-container">

    <div class="page-header">
        <h1>E-raamatute haldus</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "EBook", null, FormMethod.Post, new { @class = "form-group" }))
            {
                <fieldset class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            @Html.Label("Pealkiri")
                            @Html.TextBoxFor(x => x.SearchByName, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(x => x.SearchByName)
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            @Html.Label("E-raamatu kood")
                            @Html.TextBoxFor(x => x.SearchByProductCode, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(x => x.SearchByProductCode)
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            @Html.Label("Autor")
                            @Html.TextBoxFor(x => x.SearchByAuthor, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(x => x.SearchByAuthor)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <button type="submit" id="search" class="btn btn-default">Otsi</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>


@if (Model.EBooks.Any())
{
    <table class="table">
        <tr>
            @*<th>
                ID
            </th>*@
            <th>
                Pealkiri
            </th>
            <th>
                E-raamatu kood
            </th>
            <th>
                Autor
            </th>
            <th>
                Allaladimise arv
            </th>
            <th>
                Allaladimise kestus
            </th>
            <th>
                Allalaadimisi kokku
            </th>
            <th>
                Linkide arv
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.EBooks)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDownloads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLinks)
            </td>
            <td>
                @Html.ActionLink("Registreeri lingi", "Create", "Link", new { eBookId = item.Id }, null) 
            </td>
        </tr>
    }

    </table>
}
else
{
    <div class="alert alert-warning text-center" role="alert">E-raamatuid ei leitud!</div>
}


<p>
    @Html.ActionLink("Tagasi", "Index", "Account")
</p>




